*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  position: absolute;
}
header{
  width: 100%;
  color: white;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("hero.jpg");
  background-size: 100%;
}
#howWeWork{
  margin-bottom: 50px;
}
#navBar{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#logo{
  color: white;
  filter: invert(100%);
  width: 100px;
  margin: 20px 50px;
}
#navTabs{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navTab{
  margin: 0 50px;
  padding: 50px 0 50px;
}
#slogan{
  margin: 200px 0 0 150px;
  font-size: 50px;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
}
#headBut button{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  border: 2px orange solid;
}
#howWeWork{
  text-align: center;
  margin-top: 50px;
}
hr {
  margin: 25px;
  width: 100px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: 0 none;
}
#qualities{
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
}
.quality{
  width: 22.5%;
}
.imageBox{
  position: relative;
  height: 90px;
  width: 100%;
}
.qualityImage{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
}
.qualityTitle{
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}
.qualityDescription{
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.foodImage{
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}