*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  position: absolute;
}
header{
  width: 100%;
  color: white;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("hero.jpg");
  background-size: 100%;
}
#navBar{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#logo{
  color: white;
  filter: invert(100%);
  width: 100px;
  margin: 20px 50px;
}
#navTabs{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navTab{
  margin: 0 50px;
  padding: 50px 0 50px;
}
#slogan{
  margin: 200px 0 0 150px;
  font-size: 50px;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
}
#headBut button{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  border: 2px orange solid;
}
#howWeWork{
  text-align: center;
  margin: 50px 0;
}
hr {
  margin: 25px;
  width: 100px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: 0 none;
}
#qualities{
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
}
.quality{
  width: 22.5%;
}
.imageBox{
  position: relative;
  height: 90px;
  width: 100%;
}
.qualityImage{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
}
.qualityTitle{
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}
.qualityDescription{
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
#foodImages{
  display: flex;
  flex-wrap: wrap;
}
.foodImage{
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
}
#howItWork{
  text-align: center;
  padding: 50px 0;
}
/* .starIcons{
  width: 100px;
  display: inline-block;
} */
.number{
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  color: orange;
  border: 1px solid orange;
  border-radius: 50%;
}
.appHelp{
  text-align: left;
  width: 450px;
  height: 52px;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
.store{
  width: 150px;
}
#citiesWeAreIn{
  background-color: #d9d9d9;
  text-align: center;
  padding: 50px 100px 100px;
}
.city{
  width: 22.5%;
  text-align: left;
  font-weight: 300;
}
.cityImage{
  width: 100%;
}
.cityName{
  margin: 5px;
  font-size: 20px;
}
.cityIcon{
  height: 20px;
  display: inline;
}
.cityDis{
  font-size: 20px;
  display: inline;
}
.cityMail{
  font-size: 20px;
  display: inline;
  color: orange;
  text-decoration: underline;
}
#customerTestimonials{
  text-align: center;
  padding: 50px 100px;
}